.chat-card {
    width: 100%;
    height: 400px;
    background-color: #595353;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    overflow: hidden;
  }
  
  
  .chat-body {
    padding: 20px;
    height: 340px;
    overflow-y: scroll;
  }
  
  .message {
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    overflow: scroll;
    display: flex;
    flex-direction: row;
  }
  .incoming p{
    color: white;
  }
  .incoming {
    background-color: #a4c521;

  }
  
  .outgoing {
    background-color: #38dc56;
    text-align: right;
  }
  
  .message p {
    font-size: 14px;
    color: #333;
    margin: 0;
  }
  
  .chat-footer {
    width: 93.6%;
    position: absolute;
    bottom: 0;
    padding: 10px;
    background-color: #595353;
    display: flex;
  }
  
  .chat-footer input[type="text"] {
    flex-grow: 1;
    padding: 10px;
    border: none;
    border-radius: 3px;
    background-color: #333;
    color: white;
  }
  
  .chat-footer button {
    padding: 5px 10px;
    border: none;
    background-color: #4285f4;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
  }
  
  .chat-footer button:hover {
    background-color: #0f9d58;
  }
  
  @keyframes chatAnimation {
    0% {
      opacity: 0;
      transform: translateY(10px);
    }
  
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  .chat-card .message {
    animation: chatAnimation 0.3s ease-in-out;
    animation-fill-mode: both;
    animation-delay: 0.1s;
  }
  
  .chat-card .message:nth-child(even) {
    animation-delay: 0.2s;
  }
  
  .chat-card .message:nth-child(odd) {
    animation-delay: 0.3s;
  }
  